<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/" routerLinkActive="active"><img id="logo" src="img/brackit.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                     <li>
                         <a routerLink="/tournaments" routerLinkActive="active">Tournaments</a>
                    </li>
                    <li>
                        <a>Contact</a>
                    </li>
                    <li class="dropdown" *ngIf="_auth.authenticated()">
                        <a class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                             <li>
                                <a routerLink="/profile" routerLinkActive="active">Profile</a>
                            </li>
                            <li>
                                <a routerLink="/usertournaments" routerLinkActive="active">Tournaments</a>
                            </li>
                            <li>
                                <a routerLink="/userteams" routerLinkActive="active">Teams</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hidden-sm hidden-xs">
                        <button type="button" class="btn btn-success navbar-btn" (click)="_auth.login()" *ngIf="!_auth.authenticated()">
                            <a class="link-button-color"><span class="glyphicon glyphicon-lock"></span> Log In/Sign Up</a>
                        </button>
                        <button type="button" class="btn btn-danger navbar-btn" (click)="_auth.logout()" *ngIf="_auth.authenticated()">
                            <a class="link-button-color"><span class="glyphicon glyphicon-lock"></span> Log Out</a>
                        </button>
                    </li>
                    <li class="hidden-sm hidden-xs">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </li>
                </ul>            
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>