<header class="header">
    </header>

<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Brackit the Tournament generator
                </h1>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit:</p>
                <ul>
                    <li><strong>Doloremque non cum id reprehenderit</strong>
                    </li>
                    <li>quisquam totam aspernatur</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Corporis, omnis doloremque</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">New Tournaments</h2>
            </div>
            <div class="col-md-4" *ngFor="let tournament of _newTournaments">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4> {{tournament.name}}</h4>
                    </div>
                    <div class="panel-body">
                        <p><strong>Details:</strong></p>
                        <ul class="list-unstyled">
                            <li><strong>Game:</strong>  {{tournament.game}}</li>
                            <li><strong>Type:</strong>  {{tournament.type}}</li>
                            <li><strong>Registration:</strong>  {{tournament.registrationType}}</li>
                            <li><strong>Starts:</strong>  {{tournament.start}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        </div>
        <!-- /.container -->