.header {
    height: 400px;
    width: 100%;
    background: url('http://www.counterpit.com/portals/0/images/csgo-wallpaper.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
}

a { 
    cursor: pointer; cursor: hand; 
}