<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create Tournament</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
          <div class="form-group">
              <label class="col-md-4 control-label" >Name</label>
              <div class="col-md-6">
                  <input name="nameinput" type="text" [(ngModel)]="_name" class="form-control input-md">
              </div>
          </div>
          <!-- /.name input -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Game</label>
              <div class="col-md-4">
                  <select id="threshold" name="threshold" class="form-control" [(ngModel)]="_gameChoice">
                      <option *ngFor="let gameChoice of _gameChoices" [ngValue]="gameChoice">{{gameChoice[0]}}</option>
                  </select>
              </div>
          </div>
          <!-- /.game choice selector -->
          <div class="form-group" *ngIf="_gameChoice && _gameChoice[1]">
              <label class="col-md-4 control-label" >Choose</label>
              <div class="col-md-6">
                  <input name="owngameinput" type="text" [(ngModel)]="_game" class="form-control input-md">
              </div>
          </div>
          <!-- /.choose your own game input -->
          <div class="form-group" *ngIf="_gameChoice && !_gameChoice[1]">
              <label class="col-md-4 control-label" >Chooseeee</label>
              <div class="col-md-6">
                <typeahead name="test"
                    [(ngModel)]="_selectedGame"
                    [list]="_gameList"
                    [searchProperty]="'searchText'" [displayProperty]="'name'"
                    [maxSuggestions]="2"
                    (suggestionSelected)="gameSelected($event)"
                    placeholder="Begin typing a fruit">
                    </typeahead>
                    <p>Selected {{ _game }}</p>
              </div>
          </div>
          <!-- /.choose from supported game input -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Type</label>
              <div class="col-md-4">
                  <select id="threshold" name="threshold" class="form-control" [(ngModel)]="_type">
                      <option *ngFor="let type of _types">{{type}}</option>
                  </select>
              </div>
          </div>
          <!-- /.type selector -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Registration Type</label>
              <div class="col-md-4">
                  <select id="threshold" name="threshold" class="form-control" [(ngModel)]="_registrationType">
                      <option *ngFor="let rtype of _registrationTypes">{{rtype}}</option>
                  </select>
              </div>
          </div>
          <!-- /.registrationType selector -->
          <div class="form-group" *ngIf="_registrationType === 'List'">
              <label class="col-md-4 control-label" for="threshold">Teams</label>
              <div class="col-md-4">
                  <textarea class="form-control" name="teamsinput" rows="5" [(ngModel)]="_lstTeams"></textarea>
              </div>
              <div class="col-md-4">
                  <span>Put each team/player on a seperate line.</span>
              </div>
          </div>
          <!-- /.team textarea -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Fixture Type</label>
              <div class="col-md-4">
                  <select id="threshold" name="threshold" class="form-control" [(ngModel)]="_fixtureSortType">
                      <option *ngFor="let fstype of _fixtureSortTypes">{{fstype}}</option>
                  </select>
              </div>
          </div>
          <!-- /.fixtureType selector -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Competitor Type</label>
              <div class="col-md-4">
                  <select id="threshold" name="threshold" class="form-control" [(ngModel)]="_competitorType">
                      <option *ngFor="let ctype of _competitorTypes">{{ctype}}</option>
                  </select>
              </div>
          </div>
          <!-- /.competitorType selector -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Include Draws?</label>
              <div class="col-md-4">
                  <select id="threshold" name="threshold" class="form-control" [(ngModel)]="_includeDraws">
                      <option *ngFor="let choice of _yesNoChoices" [ngValue]="choice">{{choice[0]}}</option>
                  </select>
              </div>
          </div>
          <!-- /.includeDraws selector -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Match Type</label>
              <div class="col-md-4">
                  <select id="threshold" name="threshold" class="form-control" [(ngModel)]="_matchType">
                      <option *ngFor="let mtype of _matchTypes">{{mtype}}</option>
                  </select>
              </div>
          </div>
          <!-- /.matchType selector -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Max Participants</label>
              <div class="col-md-2">
                  <input name="playerlimitinput" type="number" [(ngModel)]="_teamLimit" class="form-control input-md">
              </div>
              <div class="col-md-4">
                  <span>Keep the number even.</span>
              </div>
          </div>
          <!-- /.name input -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Fixture Interval</label>
              <div class="col-md-2">
                  <input name="fixintervalinput" type="number" [(ngModel)]="_fixtureInterval" class="form-control input-md">
              </div>
              <div class="col-md-4">
                  <span>The amount of days between each round of fixtures.</span>
              </div>
          </div>
          <!-- /.name input -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Start Date</label>
              <div class="col-md-6">
                  <input name="startdateinput" class="form-control" type="date" [(ngModel)]="_startDate">
              </div>
          </div>
          <!-- /.startDate input -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Start Time</label>
              <div class="col-md-6">
                  <input name="starttimeinput" class="form-control" type="time" [(ngModel)]="_startTime">
              </div>
          </div>
          <!-- /.startTime input -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Details</label>
              <div class="col-md-8">
                  <textarea name="informationinput" class="form-control" rows="5" [(ngModel)]="_information"></textarea>
              </div>
          </div>
          <!-- /.information textarea -->
          <div class="form-group">
              <label class="col-md-4 control-label" >Rules</label>
              <div class="col-md-8">
                  <textarea name="rulesinput" class="form-control" rows="5" [(ngModel)]="_rules"></textarea>
              </div>
          </div>
          <!-- /.rules textarea -->
          <div class="form-group">
              <label class="col-md-4 control-label" ></label>
              <div class="col-md-8">
                  <button id="submitButton" name="submitButton" class="btn btn-success" (click)="test()">Save</button>
                  <button id="cancelButton" name="cancelButton" class="btn btn-danger" (click)="fixtureTest()">Cancel</button>
              </div>
          </div>
          <span>{{_createMsg}}</span>
          <!-- /.end buttons -->
    </form>
  </div>
</div>