<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">View Profile <small>Joined: {{_dateJoined}}</small></h3>
  </div>
  <div class="panel-body" *ngIf='_profile'>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <table>
            <thead>
              <th>Personal</th>
            </thead>
            <tbody>
              <tr>
                <td>First Name:</td>
                <td>{{this._profile.firstName}}</td>
              </tr>
              <tr>
                <td>Family Name:</td>
                <td>{{this._profile.familyName}}</td>
              </tr>
              <tr>
                <td>Country:</td>
                <td><img src="img/flags/_wales.png"> Wales</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4 col-md-4">
          <table>
            <thead>
              <th>Personal</th>
            </thead>
            <tbody>
              <tr>
                <td>First Name:</td>
                <td>{{this._profile.firstName}}</td>
              </tr>
              <tr>
                <td>Family Name:</td>
                <td>{{this._profile.familyName}}</td>
              </tr>
              <tr>
                <td>Country:</td>
                <td><img src="img/flags/_wales.png"> Wales</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4 col-md-4">
          <table>
            <thead>
              <th>Personal</th>
            </thead>
            <tbody>
              <tr>
                <td>First Name:</td>
                <td>{{this._profile.firstName}}</td>
              </tr>
              <tr>
                <td>Family Name:</td>
                <td>{{this._profile.familyName}}</td>
              </tr>
              <tr>
                <td>Country:</td>
                <td><img src="img/flags/_wales.png"> Wales</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
