<div id="wrap">
  <div class="container">
    <div class="row">
      <div class="row">
            <div class="col-md-12" *ngIf="_profile">
                <h1 class="page-header">{{_profile.firstName}} "{{_profile.username}}" {{_profile.familyName}}
                    <small *ngIf="_memberSince">Member Since: {{_memberSince}}</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img class="img-responsive" src="http://placehold.it/130x170" alt="">
            </div>
            <div class="col-md-5" *ngIf="_profile">
                <h2>Gaming Information</h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Windows Sensitivity:</strong> {{_profile.gamingInfo.windowsSense}}</li>
                    <li class="list-group-item"><strong>In-game Sensitivity:</strong> {{_profile.gamingInfo.inGameSense}}</li>
                    <li class="list-group-item"><strong>In-game Resolution:</strong> {{_profile.gamingInfo.inGameRes}}</li>
                    <li class="list-group-item"><strong>Refresh Rate:</strong> {{_profile.gamingInfo.refreshRate}}</li>
                </ul>
                <h2>Contact</h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Steam:</strong> <a [href]=_steamLink>{{_profile.steam}}</a></li>
                </ul>
            </div>
            <div class="col-md-5" *ngIf="_profile">
                <h2>Computer Specifications</h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>OS:</strong> {{_profile.compSpecs.os}}</li>
                    <li class="list-group-item"><strong>CPU:</strong> {{_profile.compSpecs.cpu}}</li>
                    <li class="list-group-item"><strong>Memory:</strong> {{_profile.compSpecs.memory}}</li>
                    <li class="list-group-item"><strong>Hard Drive:</strong> {{_profile.compSpecs.hardDrive}}</li>
                    <li class="list-group-item"><strong>Video Card:</strong> {{_profile.compSpecs.videoCard}}</li>
                    <li class="list-group-item"><strong>Headphones:</strong> {{_profile.compSpecs.headPhones}}</li>
                    <li class="list-group-item"><strong>Monitor:</strong> {{_profile.compSpecs.monitor}}</li>
                    <li class="list-group-item"><strong>Mouse:</strong> {{_profile.compSpecs.mouse}}</li>
                    <li class="list-group-item"><strong>Mousepad:</strong> {{_profile.compSpecs.mousepad}}</li>
                    <li class="list-group-item"><strong>Keyboard:</strong> {{_profile.compSpecs.keyboard}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
          <ul id="profileTabs" class="nav nav-tabs nav-justified">
              <li class="active"><a href="#teams-tab" data-toggle="tab"><i class="fa fa-tree"></i> Teams</a>
              </li>
              <li><a href="#tournaments-tab" data-toggle="tab"><i class="fa fa-tree"></i> Tournaments</a>
              </li>
          </ul>
          <div id="profileTabs" class="tab-content">
              <div class="tab-pane fade active in" id="teams-tab">
                  <div>
                      <h4>Teams</h4>
                      <table class="table table-hover" *ngIf="_profile">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let team of _profile.teams">
                                <tr (click)='navToTeam(team._id)'>
                                    <td>{{team.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                  </div>
              </div>
              <div class="tab-pane fade" id="tournaments-tab">
                  <div>
                      <h4>Tournaments</h4>
                      <table class="table table-hover" *ngIf="_profile">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Game</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let tournament of _profile.tournaments">
                                <tr (click)='navToTournament(tournament._id)'>
                                    <td>{{tournament.name}}</td>
                                    <td>{{tournament.type}}</td>
                                    <td>{{tournament.game}}</td>
                                </tr>
                            </tbody>
                        </table> 
                  </div>
              </div>
          </div>
    </div>
  </div>
</div>
