<div id="wrap">
    <div class="container">
        <div class="row" *ngIf="_team">
            <div class="col-lg-12">
                <div>
                    <h2 class="page-header">{{_team.getName()}} </h2>
                </div>
            </div>
            <div class="col-lg-12">
              <ul id="teamTabs" class="nav nav-tabs nav-justified">
                <li class="active"><a href="#information-tab" data-toggle="tab"><i class="fa fa-info-circle"></i> Information</a>
                </li>
                <li class=""><a href="#members-tab" data-toggle="tab"><i class="fa fa-users"></i> Members</a>
                </li>
                <li class=""><a href="#tournaments-tab" data-toggle="tab"><i class="fa fa-trophy"></i> Tournaments</a>
                </li>
                <li class=""><a href="#fixtures-tab" data-toggle="tab"><i class="fa fa-crosshairs"></i> Fixtures</a>
                </li>
                <li class=""><a href="#results-tab" data-toggle="tab"><i class="fa fa-crosshairs"></i> Results</a>
                </li>
                <li class="" *ngIf="_auth.authenticated()"><a href="#join-tab" data-toggle="tab"><i class="fa fa-plus"></i> <span *ngIf="!_inTeam">Join</span><span *ngIf="_inTeam">Leave</span></a>
                </li>
              </ul>
              
              <div id="teamTabs" class="tab-content">
                <div class="tab-pane fade active in" id="information-tab">
                    <div>
                        <h4>Information</h4>
                        <span></span> 
                    </div>
                </div>
                <div class="tab-pane fade" id="members-tab">
                    <h4>Members</h4>
                    <div class="col-md-3 col-sm-6" *ngFor="let member of _team.getMembers()">
                        <div class="panel panel-default text-center" >
                            <div class="panel-heading" >
                                <span class="fa-stack fa-5x">
                                    <div class="container">
                                        <img class="img-responsive" src="https://hydra-media.cursecdn.com/lol.gamepedia.com/thumb/d/db/Fnaticlogo.png/120px-Fnaticlogo.png?version=7ee621d9b400c17028aa6065104ff99d">
                                    </div>
                                </span>
                            </div>
                            <div class="panel-body">
                                <h5>{{member.firstName}}</h5>
                                <h4>"<a (click)="navToPlayer(member._id)">{{member.username}}</a>"</h4>
                                <h5>{{member.familyName}}</h5>
                                <h6>{{member.role}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tournaments-tab">
                    <div>
                        <h4>Current Tournaments</h4>
                         <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>Name</th>
                                      <th>Type</th>
                                      <th>Match Type</th>
                                      <th>Postion</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                              </tbody>
                          </table>
                    </div>
                    <div>
                        <h4>Past Tournaments</h4>
                         <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>Name</th>
                                      <th>Type</th>
                                      <th>Match Type</th>
                                      <th>Postion</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                              </tbody>
                          </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="fixtures-tab">
                    <div>
                        <h4>Fixtures</h4>
                        <span></span> 
                    </div>
                </div>
                <div class="tab-pane fade" id="results-tab">
                    <div>
                        <h4>Results</h4>
                        <span></span> 
                    </div>
                </div>
                <div class="tab-pane fade" id="join-tab" *ngIf="_auth.authenticated()">
                    <div *ngIf="!_teamOwner">
                        <h4 *ngIf="!_inTeam">Join</h4><h4 *ngIf="_inTeam">Leave</h4>
                        <div class="form-group" *ngIf="!_inTeam">
                          <div class="col-md-3">
                              <input name="pwInput" type="text" class="form-control input-md" [(ngModel)]="_joinPassword" >
                          </div>
                          <div class="col-md-3">
                              <button id="joinButton" name="joinButton" class="btn btn-success" (click)="joinTeamPlayer()">Join</button>
                          </div>
                        </div>

                        <div class="form-group" *ngIf="_inTeam">
                            <div class="col-md-3">
                              <button id="leaveButton" name="leaveButton" class="btn btn-danger" (click)="leaveTeam()">Leave</button>
                          </div>
                        </div>
                    </div>
                    <div *ngIf="_teamOwner">
                        You are the team owner, you can not leave.
                    </div>
                </div>
              </div>
              <!-- /.tabs -->
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.wrap -->