<div id="wrap">
    <div class="container">
        <div class="row" *ngIf="_tournament">
            <div class="col-md-12">
                <div>
                    <h2>{{_tournament.getName()}}</h2>
                    <h4>{{_tournament.getGame()}}</h4>
                </div>
            </div>
            <div class="col-md-12">

                <ul id="tournamentTabs" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#information-tab" data-toggle="tab"><i class="fa fa-info-circle"></i> Information</a>
                    </li>
                    <li class=""><a href="#rules-tab" data-toggle="tab"><i class="fa fa-gavel"></i> Rules</a>
                    </li>
                    <li class="" *ngIf="_tournament.getCompetitorType() == 0"><a href="#teams-tab" data-toggle="tab"><i class="fa fa-users"></i> Players</a>
                    </li>
                    <li class="" *ngIf="_tournament.getCompetitorType() == 1"><a href="#teams-tab" data-toggle="tab"><i class="fa fa-users"></i> Teams</a>
                    </li>
                    <li class=""><a href="#table-tab" data-toggle="tab"><i class="fa fa-sitemap"></i> Table</a>
                    </li>
                    <li class=""><a href="#fixtures-tab" data-toggle="tab"><i class="fa fa-crosshairs"></i> Fixtures</a>
                    </li>
                    <li class=""><a href="#results-tab" data-toggle="tab"><i class="fa fa-crosshairs"></i> Results</a>
                    </li>
                    <li class="" *ngIf="_auth.authenticated() && _tournament.getRegistrationType() == 1 && !_tournament.getStarted()">
                        <a href="#signup-tab" data-toggle="tab">
                            <i class="fa fa-database"></i> <span *ngIf="_inTournament">Leave</span><span *ngIf="!_inTournament">Signup</span>
                        </a>
                    </li>
                </ul>

                <div id="tournamentTabs" class="tab-content">
                    <div class="tab-pane fade active in" id="information-tab">
                        <div>
                            <h4>Information</h4>
                            <span [innerHTML]="_tournament.getInformation()"></span> 
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rules-tab">
                        <div>
                            <h4>Rules</h4>
                            <span [innerHTML]="_tournament.getRules()"></span> 
                        </div>
                    </div>
                    <div class="tab-pane fade" id="teams-tab" *ngIf="_tournament.getRegistrationType() == 0">
                        <h4 *ngIf="_tournament.getCompetitorType() == 0">Players</h4>
                        <h4 *ngIf="_tournament.getCompetitorType() == 1">Teams</h4>
                        <div class="col-md-3 col-sm-6" *ngFor="let team of _tournament.getTeams()">
                            <div class="panel panel-default text-center" >
                                <div class="panel-body"> 
                                    <div >
                                        <h4>{{team.name}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.service if registrattionType is List -->
                    <div class="tab-pane fade" id="teams-tab" *ngIf="_tournament.getRegistrationType() == 1">
                        <h4 *ngIf="_tournament.getCompetitorType() == 0">Players</h4>
                        <h4 *ngIf="_tournament.getCompetitorType() == 1">Teams</h4>
                        <div class="col-md-3 col-sm-6" *ngFor="let team of _tournament.getTeams()">
                            <div class="panel panel-default text-center" >
                                <div class="panel-heading" >
                                    <span class="fa-stack fa-5x">
                                        <div class="container">
                                            <img class="img-responsive" src="https://hydra-media.cursecdn.com/lol.gamepedia.com/thumb/d/db/Fnaticlogo.png/120px-Fnaticlogo.png?version=7ee621d9b400c17028aa6065104ff99d">
                                        </div>
                                    </span>
                                </div>
                                <div class="panel-body" *ngIf="_teams">
                                    <h4><a (click)='navToTeam(_teams[_tournament.getTeams().indexOf(team)]._id)'>{{_teams[_tournament.getTeams().indexOf(team)].name}}</a></h4>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Players <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="let player of _teams[_tournament.getTeams().indexOf(team)].members">
                                                <a (click)="navToPlayer(player.id)"><i><img src="img/flags/_wales.png"></i> {{player.username}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body" *ngIf="_players">
                                    <h4><a (click)="navToPlayer(_players[_tournament.getTeams().indexOf(team)]._id)">{{_players[_tournament.getTeams().indexOf(team)].username}}</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.service if registrattionType is Signup -->
                    <div class="tab-pane fade" id="table-tab">
                        <div class="container">
                            <h4>League Table</h4>
                            <p *ngIf="_tournament.getTeams().length == 0">No sign ups yet.</p>
                            <table class="table table-hover" *ngIf="_standings">
                                <thead>
                                    <tr>
                                        <th>Position</th>
                                        <th>Team</th>
                                        <th>Played</th>
                                        <th>Wins</th>
                                        <th *ngIf="_tournament.getIncludeDraws()">Draws</th>
                                        <th>Losses</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let team of _standings">
                                    <tr>
                                        <td>{{_standings.indexOf(team) + 1}}</td>
                                        <td>{{team.name}}</td>
                                        <td>{{team.played}}</td>
                                        <td>{{team.wins}}</td>
                                        <td *ngIf="_tournament.getIncludeDraws()">{{team.draws}}</td>
                                        <td>{{team.losses}}</td>
                                        <td>{{team.points}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="fixtures-tab">
                        <h4>Fixtures</h4>
                        <span *ngIf="!_tournament.getStarted()">Tournament has not started yet. Currently no fixtures.</span>
                        <table class="table table-hover" *ngIf="_matches">
                            <thead>
                                <tr>
                                    <th *ngIf="_tournament.getCompetitorType() == 1">Team</th>
                                    <th *ngIf="_tournament.getCompetitorType() == 0">Player</th>
                                    <th></th>
                                    <th *ngIf="_tournament.getCompetitorType() == 1">Team</th>
                                    <th *ngIf="_tournament.getCompetitorType() == 0">Player</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let fixture of _matches.fixtures">
                                <tr id="fixtureRow" *ngIf="_tournament.getRegistrationType() == 1" (click)='navToMatch(fixture._id)'>
                                    <td >{{fixture.partakers[0].name}}</td>
                                    <td> VS </td>
                                    <td>{{fixture.partakers[1].name}}</td>
                                </tr>
                                <tr *ngIf="_tournament.getRegistrationType() == 0">
                                    <td >{{fixture.partakers[0].name}}</td>
                                    <td> VS </td>
                                    <td>{{fixture.partakers[1].name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="results-tab">
                        <h4>Results</h4>
                        <span *ngIf="!_tournament.getStarted()">Tournament has not started yet. Currently no results.</span>
                        <table class="table table-hover" *ngIf="_matches">
                            <thead>
                                <tr>
                                    <th *ngIf="_tournament.getCompetitorType() == 1">Team</th>
                                    <th *ngIf="_tournament.getCompetitorType() == 0">Player</th>
                                    <th>Score</th>
                                    <th>Score</th>
                                    <th *ngIf="_tournament.getCompetitorType() == 1">Team</th>
                                    <th *ngIf="_tournament.getCompetitorType() == 0">Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let result of _matches.results">
                                    <td>{{result.partakers[0].name}}</td>
                                    <td *ngIf="result.partakers[0].score < result.partakers[1].score"><font color="#E74C3C">{{result.partakers[0].score}}</font></td>
                                    <td *ngIf="result.partakers[0].score > result.partakers[1].score"><font color="#18BC9C">{{result.partakers[0].score}}</font></td>
                                    <td *ngIf="result.partakers[0].score == result.partakers[1].score"><font color="#2568CA">{{result.partakers[0].score}}</font></td>
                                    <td *ngIf="result.partakers[0].score < result.partakers[1].score"><font color="#18BC9C">{{result.partakers[1].score}}</font></td>
                                    <td *ngIf="result.partakers[0].score > result.partakers[1].score"><font color="#E74C3C">{{result.partakers[1].score}}</font></td>
                                     <td *ngIf="result.partakers[0].score == result.partakers[1].score"><font color="#2568CA">{{result.partakers[1].score}}</font></td>
                                    <td>{{result.partakers[1].name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="signup-tab" *ngIf="_auth.authenticated()">
                        <div>
                            <h4 *ngIf="!_inTournament">Signup</h4><h4 *ngIf="_inTournament">Leave</h4>
                            <div *ngIf="_tournament.getCompetitorType() == 0">
                                <a class="btn btn-success" *ngIf="!_inTournament" (click)="joinTournamentPlayer()">Join</a>
                                <a class="btn btn-danger" *ngIf="_inTournament" (click)="leaveTournament(_profile._id)">Leave</a>
                            </div>
                            <div *ngIf="_tournament.getCompetitorType() == 1">
                                <div class="col-md-3 col-sm-6">
                                    <select class="form-control" id="select" *ngIf="!_inTournament" [(ngModel)]="_selectedOwnedTeam">
                                        <option *ngFor="let team of _ownedTeams" [ngValue]="team">{{team.name}}</option>
                                    </select>
                                    <a class="btn btn-success" *ngIf="!_inTournament" (click)="joinTournamentTeam()">Join</a>
                                    <a class="btn btn-danger" *ngIf="_inTournament && _teamOwner" (click)="leaveTournament(_myTeam._id)">Leave</a>
                                    <span *ngIf="_inTournament && !_teamOwner">Not the team owner, can't leave.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tabs -->
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.wrap -->